.title h2 {
  margin: 0 0 6px;
  font-size: 24px;
  font-weight: 700;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0;
  list-style: none;
}

.item {
  display: flex;
  gap: 30px;
  padding: 15px;
  border-radius: 12px;
  align-items: center;
  height: 80px;
  font-size: 18px;
  font-weight: 500;
}

.image {
  width: 50px;
  height: 50px;
  border-radius: 8px;
}
