.compare-page {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  height: 100vh;
}

.header {
  text-align: center;
  margin-top: 20px;
}

.button-section {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.team-select-section {
  display: flex;
  align-items: center;
  gap: 15px;
}

.team-select-section > select {
  background-color: #374151;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 5px;
  width: 170px;
}
