.f1test-page {
  display: flex;
  flex-direction: column;
  width: 100vw;
  gap: 40px;
}

.f1test-title {
  text-align: center;
}

.test-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}

.button-section {
  display: flex;
  justify-content: center;
}
