.f1test-page {
  display: flex;
  flex-direction: column;
  width: 100vw;
  gap: 40px;
  padding: 30px 0;
}

.f1test-title {
  text-align: center;
  color: white;
}

.test-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}

.button-section {
  display: flex;
  justify-content: center;
}

.rank-section,
.slider-section {
  display: flex;
  flex-direction: column;
  height: 95%;
  background: rgba(31, 41, 55, 0.4);
  padding: 24px;
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.4);
  max-width: 520px;
  color: #e5e7eb;
  font-family: system-ui, sans-serif;
  width: 500px;
  height: 95%;
  gap: 20px;
}
