.statisticsContainer {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.firstContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.firstContent h1 {
  font-weight: bold;
}
.firstContent h2 {
  font-weight: 400;
}

/* Top3 카드부분 */
.priceGrid {
  display: flex;
  gap: 40px;
  align-items: flex-end;
  min-height: 22vh; /* 등수카드 최소 높이 */
}

.priceCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 22vh;
  height: 12vh;
  padding: 12px;
  border-radius: 10px;
  background: rgba(55, 65, 81, 0.86);
}

/* 1등 */
.rank1 {
  height: 18vh;
}

/* 2등 */
.rank2 {
  height: 15vh;
}

.boxInCard {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.secondContent,
.thirdContent {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.secondContent h1,
.thirdContent h1 {
  font-weight: 800;
}

.Grid,
.secondContent {
  display: flex;
  flex-direction: column;
}

.btnContainer {
  display: flex;
  gap: 20px;
}

.recommandAndHeartGrid {
  display: flex;
  display: row;
}
