button {
  width: 400px;
  height: 170px;
  border-radius: 50px;
  line-height: 170px;
  font-size: 36px;
  font-weight: bold;
}

.btn_f1 {
  background-color: #ff0000;
  color: black;
  border: 6px solid white;
}
.btn_baseball {
  background-color: #192647;
  color: white;
  border: 6px solid white;
}
