.sport-button {
  font-weight: bold;
  padding: 1.5rem 3rem;
  border-radius: 1rem;
  font-size: 1.25rem;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;

  width: 300px;
  height: 100px;
}

.sport-button:hover {
  transform: scale(1.05);
}

.f1-button {
  background-color: rgb(239, 68, 68);
  color: white;
}

.f1-button:hover {
  background-color: rgb(220, 38, 38);
}

.kbo-button {
  background-color: rgb(37, 99, 235);
  color: white;
}

.kbo-button:hover {
  background-color: rgb(29, 78, 216);
}

.resultPage {
  background-color: rgba(31, 41, 55, 0.4);
  color: white;
  height: 30px;
  width: 250px;
}

.compare-f1:hover {
  background-color: rgb(220, 38, 38);
}

.compare-baseball:hover {
  background-color: rgb(29, 78, 216);
}

.statistics-f1,
.compare-f1 {
  color: white;
  width: 246px;
  height: 46px;
  background-color: rgb(239, 68, 68);
}

.statistics-kbo,
.compare-baseball {
  color: white;
  width: 246px;
  height: 46px;
  background-color: rgb(29, 78, 216);
}
