.footer {
  color: #e5e7eb;
  padding: 0;
  text-align: center;
  font-size: 0.9rem;
}

.divider {
  border: none;
  border-top: 1px solid #6b7280;
  margin-bottom: 1rem;
  width: 95%;
}

.links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  gap: 10rem;
  margin-bottom: 1rem;
}

.links a {
  color: #e5e7eb;
  text-decoration: none;
  transition: color 0.2s;
}

.links a:hover {
  color: #ffffff;
}

.copy {
  font-size: 0.8rem;
  color: #9ca3af; /* 더 연한 회색 */
  margin-bottom: 10px;
}
